

.columnsHolder {
	display: flex;

	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

}

.column {
	background: lightskyblue;

	margin: 10px;

	min-width: 400px;
	max-width: 710px;	
}

.columnTitleHolder,
.ticket {

	border-radius: 10px;
}


.columnTitleHolder {
	background: whitesmoke;

	text-align: center;

	margin: 10px;
	padding: 5px;
}

.columnTitle {
	font-size: 20px;
}

.ticket {
	background: lightgray;

	margin: 25px;
	padding: 10px;
}

.last-ticket {
	margin-bottom: 25px;
	border-bottom: 1px solid #80dfff;
}

.new-ticket,
.no-ticket,
.new-column {
	color: gray;
	font-size: large;
	text-align: center;
}

.new-ticket,
.new-column {
	border: 1px solid #80dfff;
}